#root {
  width: 100%;
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.App > *{
  margin: auto;
}

.login {
  width: 45%;
  background-color: darkgray;
  border-radius: 5px;
}